# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/

# dbt
target/
dbt_packages/
logs/
profiles.yml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Snowflake temp files
*.log
*.tmp
